/* src/App.css */
.hidden {
  display: none;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

